
<div class="relative pb-7" *ngIf="movie">
    <div routerLink="/" class="absolute left-2 text-white">
       <div class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" ><path d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z"/></svg>
       </div> 
    </div>
    <div class="">
        <img class="object-cover w-full max-h-[550px]" src="{{'https://image.tmdb.org/t/p/original/' + movie.backdrop_path}}" alt="">
    </div>
    <div class="mt-3 p-3">
        <p class="text-2xl font-bold ">{{ movie.title }} ({{ movie.release_date | date:"yyyy"}})</p>
        <p class="mt-2 font-thin">Duration: {{ movie.runtime | formatMovieTime }} | Release Date: {{ movie.release_date | date:"MM-dd-YYYY" }} </p>
        <div class="mt-1 ml-[-4px]">
            <div class="flex gap-1 items-start flex-col md:flex-row md:items-center">
                <div class="flex gap-1 md:inline-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="25" height="25" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd" viewBox="0 0 6.827 6.827"><path style="fill:#ff8f00;fill-rule:nonzero" d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z"/><path style="fill:#e68100;fill-rule:nonzero" d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z"/><path style="fill:none" d="M0 0h6.827v6.827H0z"/></svg>
                    <p> {{ movie.vote_average | number:"1.2-2"}} / 10</p>
                </div>
                <div *ngIf="movie.genres" class="genres ml-2 my-2 flex gap-2 items-center flex-wrap">
                    <div *ngFor="let genre of movie.genres" class="badge badge-neutral badge-md">{{ genre.name }}</div>

                </div>

            </div>
        </div>

    </div>
    <div class="p-3">
        <p class="text-xl font-thin mb-5">Overview</p>
        <p class="text-lg font-thin">{{ movie.overview }}</p> 
    </div>
    <div class="p-3">
        <p class="text-xl mb-5">Companies</p>
        <div *ngIf="movie.production_companies" class="text-base grid gap-3 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
            <div class="card shadow-xl border border-transparent hover:border-white cursor-pointer bg-gray-50 bg-opacity-5" *ngFor="let company of movie.production_companies">
                <div class="card-body">
                    <div class="flex justify-center items-center">
                        <div class="w-[170px] h-[100px] flex items-center justify-center">
                            <img class="object-contain" src="{{'https://image.tmdb.org/t/p/w154/' + company.logo_path }}" alt="">
                        </div>
                    </div>
                    <p class="text-center"> {{ company?.name || 'Company' }}</p>
                </div>
            </div>
            
        </div>
    </div>


</div>